#app {
	font-family: "Avenir',Helvetica, Arial, san-serif";
	-webkit-font-smoothing: anitaliased;
	text-align: center;
	color:green;
	margin-top: 60px;
}

.joke-card {
	border: 2px solid #2c3350;
	border-radius: 2px;
	padding: px;
	margin: 5px;
}